.upper{
  display:flex;
  justify-content:left;
  width: 100%;
  height:auto;
  background: white;
  padding: 20px;
  border-radius: 10px;

  #user_details1{
  height:auto;

  p{
    font-weight: bold;
  }

  }
}

.profile_img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.games_container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80%;
  margin: 16px auto;
}
.profile-container{
  margin: 16px 0px;
  text-align: center;
  background-color: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

  }
}
.games_container1 {
  h6 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
  }
}

.card-titles {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
}
.games-list-container {
    margin: 16px 0px;
    text-align: center;
    background-color: white;
    border-radius: 14px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.profile-name {
  font-weight: bolder;
}
