.upper{
  display:flex;
  justify-content:left;
  width: 100%;
  height:auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;  #user_details1{
    height:auto;

  p{
    font-weight: bold;
  }

  }
}

.profile_img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.games_container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80%;
  margin: 16px auto;
}
.profile-container{
  margin: 16px 0px;
  text-align: center;
  background-color: white;
  border-radius: 14px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

  }
}
.games_container1 {
  h6 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
  }
}

.card-titles {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
}
.games-list-container {
    margin: 16px 0px;
    text-align: center;
    background-color: white;
    border-radius: 14px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  h4 {
    font-weight: 800;
  }
}
.profile-name {
  margin: 16px 0px;
  font-weight: bolder;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
}
.logout {
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #fb5407;
  border-bottom:#fb5407 ;
}
.games-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 8px;
  padding-bottom: 16px; ;
  border-bottom: 0.5px solid #e0e0e0;

  a{
    text-decoration: none;
    color: #fb5407
  }
}
.start {
  text-align: center;
  position: sticky;
  bottom: 124px;
}
.games-list-inner {
  text-align: left;
}
.index-trophy {
  padding: 8px;
  background-color: #fff4af;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.winner-index-container {
  display: flex;
  align-items: center;
}
