.body{
  background-color: orange;
}


.header{
  color: white;
  padding: 1.5rem;
  align-items: center;



  p {
    margin: 0;
  }

  h1 {
    font-weight: 900;
    // margin: 0;
    font-size: 1.5rem;
  }
}

.header-infos {
  display: flex;

  align-items: center;
}
.user-game-info-container {
  display: flex;
}
.avatar-animal {
  width: 120px;
}
.info-titles {
  h1 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  h2 {
    font-size: 2rem;
    font-weight: bolder;
  }
  h3 {
    font-size: 0.9rem;
    display: flex;
    padding: 0px 24px;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    color: white;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 50px;
  }
  .points {
    margin: 8px;
  }
}
.sightings-container {
  height: 50rem;
  overflow: scroll;
}
.feather {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%);

}
