
.landing-page-container {
  background-image: url("white_background_image.png");
  height: 100vh;
}
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo {
  width: 150px;
  height: auto;
}

.landing-card {
  text-align: center;
  margin: 16px;
  width: 75%;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: none;
  background-color: transparent;

  a {
    text-decoration: none;
  }
  h2 {
    font-family: "Raileway", sans-serif;
    font-weight: 900;
  }
  p {
    font-family: "Raileway", sans-serif;
    font-weight: 300;
  }
}
.card {
  opacity: 0;
  transition: all 0.5s ease;
}

.card.show {
  opacity: 1;
}
