.park-animal-container {
  height: 100vh;
}
.spoor {
  width: 40px;
}
.animal-header {
  background-color: aqua;
  width: 100%;
  display: flex;

}
.animal-points {
  display: flex;
}
.animal-right{
  display: flex;
  flex-direction: column;
}
.custom-audio  {
  width: 200px;
  .audio-controls {
    
  }
}
