<div class="progress">
  <div class="progression"></div>
  <div class="progression"></div>
  <div class="progression"></div>
</div>

<div class="park_container m-20" >

<!--<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <h1>Where do you want to play</h1>
    <%#= form_with url: parks_index_path, method: :get, class: "d-flex my-3" do %>-->
      <%#= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Name of park"
        %>
      <%#= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <%# end %>
<!--  </div>
</div>
-->

<div class="parks-container">
  <h1> Pick a Park</h1>
  <% @parks.each do |park| %>
    <label>
      <div class="park-card">
          <h2><%=link_to park.name, park_path(park) %></h2>
          <%= image_tag park.image, class: "park_img" %>
      </div>
    </label>
  <% end %>
</div>
