
<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
      <p></p>
    <% end %>
    <%= link_to games_path do %>
      <i class="fa-solid fa-play"></i>
    <% end %>
    <%= link_to animals_path do %>
      <i class="fa-solid fa-paw"></i>
    <% end %>
  </div>
</div>
