<div data-controller="landing-page">
  <div class="landing-container">
    <div class="landing-card d-none" data-landing-page-target="card">
      <h2>Hello</h2>
      <p>Welcome to Bush Bingo! Would you like to play or read the rules?</p>
      <div class="button-container">
        <%= link_to "Rules", rules_path, class: "btn-white" %>
        <span class="button-spacing"></span>
        <%= link_to "Play", new_game_path, class: "btn-orange" %>
      </div>
    </div>
    <img src="<%= asset_path('Screenshot 2024-03-12 152058.png') %>" alt="Logo" class="logo">
  </div>
</div>
