<div class="play_container" style="background-color: white;">
  <h1>Who would you like to play with</h1>
  <div class="options-card">
    <div class="button-container">
      <%= link_to "Play Alone", root_path, class: "btn-white" %>
      <span class="button-spacing"></span> <!-- Add a space between the buttons -->
      <%= link_to "+Add Friends", root_path, class: "btn-orange" %>
    </div>
  </div>
</div>
