<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-solid fa-tree"></i></a>
    <a href="#"><i class="fa-solid fa-paw "></i></a>
    <a href="" id="footer-avatar"><%= image_tag('cuttie.png', alt: 'little girl', class: 'footer-avatar') %></a>
  </div>
</div>
