
<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
     <%= link_to games_path(@game) do %>
      <i class="fa-solid fa-play"></i>
    <% end %>
    <%= link_to game_animals_path(@game) do %>
      <i class="fa-solid fa-paw"></i>
    <% end %>
    <%= link_to edit_user_registration_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
</div>


