.spotted-animal-card {
  display: flex;
  justify-content: flex-end;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 95%;
  margin: 16px auto;
  border-radius: 14px;
  height: 140px;
  overflow: hidden;
  padding: 16px;
  text-align: right;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;


  .animal-info {
    width: 60%;
    text-align: left;

    h2{
      font-weight: bolder;
    }
    p{
      background-color: #FB5607;
      color: white;
      padding: 2px 16px;
      border-radius: 50px;
      width: fit-content;
    }
  }
  img{
    position: absolute;
    left: -40px;
    top: -8px;
  }

  .link{
    text-align: right;

    a {
      text-decoration: none;
      font-weight: 600;
      color: #FB5607;
    }
  }

}

.animal-card {
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  margin: 16px auto;

  .game-info {
    margin-left: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    a {
      text-decoration:none;
      color: black;
      font-size: 18px;
      font-weight: bolder;
    }
    p {
      color: white;
      background-color: #FB5607;
      padding: 2px 16px;
      width: fit-content;
      border-radius: 50px;
      font-weight: 500;
    }
  }

  img{
    width: 90px;
  }

  button{
    margin: 16px;
    border: none;
    background: none;
    background-color: #FB5607;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    img{
      width: 20px;
    }
  }

}
