.btn-orange {
  background-color: #E07C0C;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.btn-white {
  background-color: white;
  color: #9698AB;
  border: 1px solid #9698AB;
  padding: 10px;
  border-radius: 20px;
}

.button-container {
  text-align: center; /* Center the buttons horizontally */
}

.button-spacing {
  display: inline-block;
  width: 50px; /* Adjust the width as needed for the desired space */
}

