.btn-orange {
  background-color: #E07C0C;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.btn-white {
  background-color: white;
  color: #9698AB;
  border: 1px solid #9698AB;
  padding: 10px;
  border-radius: 20px;
}

.button-container {
  text-align: center; /* Center the buttons horizontally */
}

.button-spacing {
  display: inline-block;
  width: 50px; /* Adjust the width as needed for the desired space */
}

.sighting-btn {
  position: sticky;
  bottom: 116px;
  left: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #219EBC;
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  width: 75px;
  height: 75px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  img {
    width: 30px;
  }
}
