.options-card {
  margin-top: 20px;
}
.leaderboard-card {
  margin: 0 auto;
  background-color: white;
  width: 92%;
  border-radius: 14px;
  height: 50vh;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  text-align: center;

  .btn-end {
    font-weight: 500;
    margin: 16px;
    color: white;
    border-radius: 50px;
    background-color: #bb1414;
    border: none;
    text-decoration: none;
    padding: 2px 24px;
  }
}
.leaderboard-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px;
  border-bottom: 1px solid #E5E5E5;

  a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #FB5607;
  }
  p{
    margin: 0;
  }
}
.end-game-container {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.end-game {

  width: fit-content;
  margin: 0;
  padding: 2px 24px;
  background-color: rgb(194, 4, 4);
  color: white;
  border-radius: 50px;
}
