.big-rounded {
  border-radius: 16px;
}

.invite-msg {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.651);
  margin-bottom: 32px;
}

.name {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
