.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-pills-bb {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0px 16px;
}

.nav-bb {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.toggle-container {
  ul {
    padding: 0px;
  }
}
.active {
  opacity: 1;

  font-weight: 600;
}
.nav-link-bb {
  font-size: 1.3rem;
  color: white;
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: 0.5s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.nav-link-bb.active {
  font-size: 1.5rem;
  opacity: 1; /* Set full opacity for the active link */
  font-size: 1.5rem;
  background-color: #c24105b8;
  border-radius: 14px;

}
