// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/container";
@import "pages/park_animal_show";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body {
  background-image: url("white_background_image.png");
  font-family: "Raleway", sans-serif;
}
.logo-sml {
  width: 50px;
}
.heading {
  display: flex;
  margin-bottom: 24px;
}
.logo-container {
  margin: 8px;
}

.back-arrow {
  margin-top: 84px;
  margin-left: 16px;
}
.rules-container{
  position: relative;
}
#rules-start {
  position: absolute;
  text-align: center;
  bottom: -8px;
  width: 100%;
}

.hidden-radio {
  display: none;
}

.avatar-label {
  cursor: pointer;
  /* Add any additional styling you want for the label */

  &:active{
    /* Add any additional styling you want for the label when hovered */
    transform: scale(1.1);
    background-color: #FB5607;
    border-radius: 50%;
    padding: 16px;
  }

}
