<div class="bg-white big-rounded shadow-sm px-5 py-3 d-flex" >
  <div class="game-card-left ms-3 d-flex flex-column justify-content-center flex-grow-1">
    <h4 class="name">Cassie Game</h4>
    <p class="invite-msg">You have been invited</p>
  </div>
  <div class="game-card-right d-flex flex-column align-items-center justify-content-around">
    <%= link_to "Accept",root_path, method: :post, class: "btn btn-success mb-1" %>
    <%= link_to "Decline", root_path, method: :delete, class: "btn btn-danger mt-1" %>
  </div>
</div>
